# Ignore build and temporary files
build/
*.o
*.elf
*.hex
*.bin
*.log

# Arduino backup
*.ino.save

# OS / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Edge Impulse zip caches (optional)
edge_impulse_*.zip
